//- remember that it is a convention to start filenames with an underscore when they are being 'included' in other files
//- when you have repeated code with only a few variables that are different you can create a 'mixin' function and then use that in place of the repeated code. Here we are doing it for the details like date, difficulty etc. To place it in the document you simply use the + sign in front of it's name
mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`${review.user.photoUrl}`, alt=`${review.user.name}`)
            h6.reviews__user=review.user.name
        p.reviews__text= review.review
        .reviews__rating
            each star in [1, 2, 3, 4, 5]
                svg.reviews__star(class=`reviews__star--${+review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href='/img/icons.svg#icon-star')